// MEDIA QUERY HELPERS

// Credit to Anthony Short and Paul Stamatiou
$mq-mobile-portrait   : remify(320px);
$mq-mobile-landscape  : remify(480px);
$mq-tablet-portrait   : remify(640px);
$mq-tablet-landscape  : remify(960px);
$mq-desktop           : remify(1200px);

@mixin mobile-only {
  @media (max-width: $mq-mobile-landscape) {
    @content;
  }
}

@mixin mobile-portrait-only {
  @media (max-width: $mq-mobile-portrait) {
    @content;
  }
}

@mixin mobile-portrait-and-below {
  @media (max-width: $mq-mobile-portrait) {
    @content;
  }
}

@mixin mobile-portrait-and-up {
  @media (min-width: $mq-mobile-portrait) {
    @content;
  }
}

@mixin mobile-landscape-only {
  @media only screen and (min-width: $mq-mobile-portrait + 0.001) and (max-width: $mq-mobile-landscape) {
    @content;
  }
}

@mixin mobile-landscape-and-below {
  @media only screen and (max-width: $mq-mobile-landscape) {
    @content;
  }
}

@mixin mobile-landscape-and-up {
  @media only screen and (min-width: $mq-mobile-portrait + 0.001) {
    @content;
  }
}

@mixin tablet-only {
  @media only screen and (min-width: $mq-mobile-landscape + 0.001) and (max-width: $mq-tablet-landscape) {
    @content;
  }
}

@mixin tablet-portrait-only {
  @media only screen and (min-width: $mq-mobile-landscape + 0.001) and (max-width: $mq-tablet-portrait) {
    @content;
  }
}

@mixin tablet-portrait-and-below {
  @media only screen and (max-width: $mq-tablet-portrait) {
    @content;
  }
}

@mixin tablet-portrait-and-up {
  @media only screen and (min-width: $mq-tablet-portrait + 0.001) {
    @content;
  }
}

@mixin tablet-landscape-only {
  @media only screen and (min-width: $mq-tablet-portrait + 0.001) and (max-width: $mq-tablet-landscape) {
    @content;
  }
}

@mixin tablet-landscape-and-below {
  @media only screen and (max-width: $mq-tablet-landscape) {
    @content;
  }
}

@mixin tablet-landscape-and-up {
  @media only screen and (min-width: $mq-tablet-portrait + 0.001) {
    @content;
  }
}

@mixin desktop-and-up {
  @media only screen and (min-width: $mq-tablet-landscape + 0.001) {
    @content;
  }
}

@mixin desktop-and-below {
  @media only screen and (max-width: $mq-desktop) {
    @content;
  }
}

@mixin desktop-only {
  @media only screen and (min-width: $mq-tablet-landscape + 0.001) and (max-width: $mq-desktop) {
    @content;
  }
}


// From HTML5 Boilerplate
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}