// Base styling
@import "Base";

// Breakpoints at:
// @tablet-landscape-and-below  for tablet
// @tablet-portrait-and-below   for mobile

$full-width  : 920px;
$tablet-width: 600px;
$mobile-width: 450px;

.container, .content, .footer {
  /* by default */                        width: remify($full-width); margin: 0 auto;
  @include tablet-landscape-and-below() { width: remify($tablet-width); }
  @include tablet-portrait-and-below() { width: auto; max-width: remify($mobile-width); padding: 0 rhythm();}
  clear: both;
}

body {
  background: url("../img/big.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet-landscape-and-below() {
    background-size: auto 100%;
  }
}

.content, .container {
  margin-top: rhythm(3);
  margin-bottom: rhythm(3);
  clear: both;
  min-height: rhythm(21);
}

.container {
  z-index: 0;
  background: #000;
  opacity: 0.8;
  padding: rhythm(); 
}

.content {
  opacity: 1;
  z-index: 1;
  margin-top: rhythm(-24);  
  position: relative;
}

.brand {
  text-align: center;
  img {
    height: rhythm(8);
    width: auto;
  }
  a {
    font-size: $h1-font-size;
    color: $cs-white;
  }
}

.fb-button {
  margin-left: auto;
  margin-right: auto;
  background: rgb(72,52,191);
  width: 250px;
  padding: rhythm() / 2;
  
}

.header {
  // padding-top: rhythm();
  img {
    height: rhythm(3);
    width: auto;
    // padding: rhythm() / 4;
  }
  .fon-logo {
    float: right;
  }
  .brand-logo {
    // padding-left: rhythm();
  }
}

.banner {
  height: rhythm(16);
  overflow: hidden;

  img {
    margin-top: -200px;
    height: auto;
    width: 115%;
    z-index: 0;
  }

  .inner {
    margin-top: rhythm(-40);
  }
}
