// Base styling
@import "Base";

// Breakpoints at:
// @tablet-landscape-and-below  for tablet
// @tablet-portrait-and-below   for mobile

$full-width  : 920px;
$tablet-width: 600px;
$mobile-width: 450px;

.header, .content, .footer {
  /* by default */                        width: remify($full-width); margin: 0 auto;
  @include tablet-landscape-and-below() { width: remify($tablet-width); }
  @include tablet-portrait-and-below() { width: auto; max-width: remify($mobile-width); padding: 0 rhythm();}
  clear: both;
}

.content {
  margin-bottom: rhythm(3);
  clear: both;
  min-height: rhythm(21);
}

.banner {
  height: auto;
  width: 100%;
  margin-top: rhythm(-2);
}